.page_title {
    box-sizing: border-box;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 5vh;
    font-size: 4.5vh;
}

.gray_title {
    box-sizing: border-box;
    font-size: 3vh;
    color: gray;
}