.medicine {
    box-sizing: border-box;
    width: 30%;
    border-radius: 1vh;
    background: #EEEEEE;
    margin-left: 3%;
    margin-top: 4vh;
    transition-duration: 0.3s;
    max-width: 30%;
    min-width: 20%;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}

.medicine:hover {
    margin-top: 3vh;
    margin-bottom: 1vh;
    transition-duration: 0.3s;
}

.medicine a {
    text-decoration: none;
    color: white;
}

.medicine .name {
    padding: 1vh;
    border-radius: 1vh 1vh 0 0;
    background-color: #14A0BA;
    font-size: 2vh;
    color: white;
    letter-spacing: 0.3vh;
    justify-content: space-between;
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    position: relative;
}

.medicine .name .add_img {
    width: 2.5vh;
    max-height: 3vh;
    margin-right: 3%;
}

.medicine .name img {
    width: 100%;
    max-height: 3vh;
}

.medicine .price {
    padding: 1vh;
    font-size: 1.8vh;
}

.medicine .farm_group {
    padding-top: 1vh;
    font-size: 1.5vh;
    word-wrap: break-word;
    color: #838383;
}

.medicine .name, .medicine .price, .medicine .farm_group {
    padding-left: 2vh;
}

.all .blue_button {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 3vh;
    margin-left: 10%;
}

.admin_buttons {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    margin: 0 auto;
    font-size: 1.2vh;
}

.admin_buttons div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 2vh;
}